extends layout

block content
  div
    h2 Clarke Quay Area
  div#content
    ul#image-list
      each media in media_list
        li
          div
            - hashtags = media['tags'].join(', ')
            img.insta-image(src="#{media['images']['standard_resolution']['url']}", title="#{hashtags}")