extends layout

block content
  div#content
    h4 Choose a location
    ul
      each loc in location_list
        li
          a(href="/stream?lat=#{loc['lat']}&lng=#{loc['lng']}")
            =loc['name']