html, body {
  height: 100%  ;
  width: 100%;
}

#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#content {
  width: 100%;
  height: 600px;
}

a {
  color: #00B7FF;
}

#image-list {
  list-style-type: none;
}

#image-list li {
  float: left;
  margin-right: 10px;
}

.hashtags {
  position: absolute;
  z-index: 5;
  background-color: transparent;
  color: #fff;
}

.insta-image {
  width: 300px;
  border: 1px solid #000;
}