html, body {
  height: 100% ;
  width: 100%;
  background: #e0e1e2 url(https://instagramstatic-a.akamaihd.net/bluebar/5021840/images/shared/noise-2.png);
  margin: 0;
}
body *{
  font-family: Arial;
}
#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#content {
  width: 100%;
  height: 600px;
}

#top-bar {
  text-align: center;
  height: 43px;
  border-bottom: 1px solid #1c5380;
  border-bottom-color: rgba(4,40,71,.8);
  box-shadow: 0 1px 0 rgba(111,151,182,.5)inset,0 -1px 0 rgba(111,151,182,.2)inset,0 1px 1px rgba(0,0,0,.2);
  background-color: #517fa4;
  background-image: url("//instagramstatic-a.akamaihd.net/bluebar/5021840/images/shared/noise-1.png"),-webkit-linear-gradient(top,#517fa4,#306088);
}

#hint {
  padding: 4px;
  font-size: 22px;
  background-image: -webkit-linear-gradient(top,#f3f3f3,#ddd);
  text-align: center;
  color: rgb(102, 102, 102);
  border-color: #c6c6c6;
  border-bottom: 1px solid;
}

#info {
  padding: 4px;
  background-color: rgba(255,255,255,.92);
  color: rgb(102, 102, 102);
  border-color: silver;
  box-shadow: 1px 0 5px rgba(0,0,0,.3);
  border-bottom: 1px solid;
}

#logo {
  position: absolute;
  left: 50%;
  margin-left: -50px!important;
  height: 21px;
  width: 97px;
  background: url("http://s13.postimg.org/s0uwqoifp/instamood_logo.png") no-repeat;
  background-size: 97px 21px;
  top: 11px;
  margin: 0;
  text-indent: -9999em;
}

a {
  color: #00B7FF;
}

#image-list {
  list-style-type: none;
}

#image-list li {
  float: left;
  /*margin-right: 10px;*/
  margin-bottom: 6px;
}

#image-list img {
  border-radius: 4px;
  box-shadow: 0 1px 16px rgba(0,0,0,.1);
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
#image-list img:hover{
  opacity: 0.7;
}
.hashtags {
  position: absolute;
  z-index: 5;
  background-color: transparent;
  color: #fff;
}

.insta-image {
  width: 300px;
  border: 1px solid silver;
}